:root {
    /* Colours */
    --color-text: #fff;
    /* --color-primary: #576cbc; */
    --color-primary: #1f748b;

    /* --color-secondary: #19376d; */
    --color-secondary: #0f5268;
    /* --color-dark: #0b2447; */
    --color-dark: #067077;

    /* --color-bg: #04152d; */
    --color-bg: #010408;

    /* Fonts */
    --font-roboto: "Roboto";
  }
  